.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #212529;
  color: white;
}

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid #444;
}

.content {
  margin-left: 25%;
  width: 75%;
  padding: 20px;
}

/* Hover effect */
.nav-link:hover {
  background-color: #343a40;
  border-radius: 5px;
}