.search-input {
    position: relative;
    display: inline-block; 
}

.search-input > input {
    width: 350px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0 50px; 
}

/* left icon (search) */
.search-icon {
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}

/* right icon (close) */
.close-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
}
