a span.active {
     padding-bottom: 10px;
    border-bottom: 2px solid #054C73;
}

.icon-list {
  list-style: none; 
  padding: 0;      
  margin: 0;  
  display: block; 
  

}
/* 
.icon-list li{
  display: inline-block;
  margin-right: 20px;
} */




