.categories {
    width: 80%;
    margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;;
  /* background-color:#84CC16 */
 
}
.category-link{
    text-decoration: none;
    color:black;
}

.categories:hover{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 3px dashed orange; 
    
}

.categories img {
  display: block;
  margin: 40px auto 10px;
  width: 70px;
  height: 70px;
}

.categories h6{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}



